{% extends 'core/base.html'%}
{% block content %}
<div class="containter mt-5 ">
    <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>

    <div class="row text-center text-white">
        <div class="col-sm-4">
            <i class="fa-code fa-solid fa-2x mb-3 i-colo"></i>
            <h3>Programming</h1>
            <p>Coding applications</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-brands fa-windows fa-2x mb-3 i-colo"></i>
            <h3>Windows</h1>
            <p>Support</p>
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-magnifying-glass-dollar fa-2x mb-3 i-color"></i>
            <h3>SEO</h1>
            <p>fijsg</p>
        </div>

        <div class="row text-center text-white mt-5">
            <div class="col-sm-4">
                <i class="fa-code fa-solid fa-2x mb-3 i-colo"></i>
                <h3>Programming</h1>
                <p>Coding applications</p>
            </div>
            <div class="col-sm-4">
                <i class="fa-brands fa-windows fa-2x mb-3 i-colo"></i>
                <h3>Windows</h1>
                <p>Support</p>
            </div>
            <div class="col-sm-4">
                <i class="fa-solid fa-magnifying-glass-dollar fa-2x mb-3 i-color"></i>
                <h3>SEO</h1>
                <p>fijsg</p>
            </div>

    </div>

</div>
{% endblock%}